<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Student Grades</title>

</head>

<body>
	<ul>
		<li><a th:href="@{/logout}">logout</a></li>
	</ul>

	<h1>Welcome Page</h1>
	<h2 th:utext="'Hello '+${session.usession.userName}">Hello</h2>

	<!-- Add Hyperlink -->
	<a th:href="@{/student/grades}">View grades</a>

	<h1>Courses</h1>

	<table th:if="${not #lists.isEmpty(courses)}">
		<tr>
			<th>Course Id</th>
			<th>Course Name</th>
			<th>Credits</th>
			<th>Enroll</th>
		</tr>

		<tr th:each="course:${courses}">

			<td th:text=${course.id}>id</td>
			<td th:text=${course.name}>Course Name</td>
			<td th:text=${course.credit}>Credit</td>
			<td><a th:href="@{/student/enroll-course/}+${course.id}">Enroll</a></td>

		</tr>
	</table>
	<p>
		<span th:utext="#{custom.message(${session.usession.userName})}"></span>
	</p>
</body>
</html>