<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Management</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	 th:href="@{/style.css}" />
</head>
<body style="margin-left: 20px; margin-top:20px">
	<header th:insert="admin/fragments/general.html :: header"> </header>
	<div th:replace="admin/fragments/general.html :: menu"></div>

	<h1>Manage Students</h1>
	<!-- Add Hyperlink -->
	<a class="btn btn-primary" href="admin-student-form.html" th:href="@{/admin/student/add}">Add Student</a>
	<span th:text="${message}">message</span>

	<h2 style="margin-top:15px;margin-bottom:15px;" th:if="${not #lists.isEmpty(students)}">Student List</h2>
	<table th:if="${not #lists.isEmpty(students)}" class="table table-striped">
		<tr>

			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
			<th>Enrollment Date</th>
			<th>Edit Student</th>
			<th>Delete Student</th>
		</tr>
		<tr th:each="student:${students}">
			
			<td th:text=${student.firstName}>First Name</td>
			<td th:text=${student.lastName}>Last Name</td>
			<td th:text=${student.userName}>Username</td>
			<td th:text=${student.enrollmentDate}>Enrollment Date</td>
			<td><a class="btn btn-secondary" 
				th:href="@{/admin/student/edit/}+${student.Id}">Edit</a></td>
			<td><a class="btn btn-outline-danger" 
				th:href="@{/admin/student/delete/}+${student.Id}">Delete</a></td>
		</tr>
	</table>
<nav aria-label="Page navigation" th:if="${adminPage.TotalPages > 0}">
		<ul class="pagination">
			<li th:class="${adminPage.hasPrevious} ? 'page-item' : 'page-item disabled'">
				<a class="page-link" th:href="@{/admin/student/list(page=${adminPage.number})}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
				</a>
			</li>
			<li th:class="${pageNumber==adminPage.number + 1} ? 'page-item active' : 'page-item'" 
				th:each="pageNumber : ${pageNumbers}">
				<a class="page-link" th:href="@{/admin/student/list(page=${pageNumber})}" 
					th:text="${pageNumber}">pageNumber</a></li>			
			<li th:class="${adminPage.hasNext} ? 'page-item' : 'page-item disabled'">
				<a class="page-link" th:href="@{/admin/student/list(page=${adminPage.number+2})}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
				</a>
			</li>
		</ul>
	</nav>
	 <br/>
	<div th:replace="admin/fragments/general.html :: footer"></div>
</body>
</html>
