<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Management</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	 th:href="@{/style.css}" />
</head>
<body style="margin-left: 20px; margin-top:20px">
	<header th:insert="admin/fragments/general.html :: header"> </header>
	<div th:replace="admin/fragments/general.html :: menu"></div>

	<h1>Manage Enrolments</h1>
	<!-- Add Hyperlink -->
	<a class="btn btn-primary" href="admin-student-form.html" th:href="@{/admin/enrol/list}">View All Enrollments</a>

	<h2 style="margin-top:15px;margin-bottom:15px;" th:if="${not #lists.isEmpty(students)}">Student List</h2>
	<table th:if="${not #lists.isEmpty(students)}">
		<tr>
			<th>Student Id</th>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Username</th>
			<th>Check to Enrol</th>

		</tr>
		<p th:text="${course.getName()}"></p>
		<form class="form-card" th:action="@{/admin/enrol/student}" method="post">
		<input type="hidden" name="cid" th:value="${course.Id}"/>
		<tr th:each="student:${students}">
			<td th:text=${student.Id}>Student Id</td>
			<td th:text=${student.lastName}>Last Name</td>
			<td th:text=${student.firstName}>First Name</td>
			<td th:text=${student.userName}>Username</td>
			<td><input type="checkbox" style="width:40px;height:40px;" name="enrol" th:value="${student.Id}"/></td>
		</tr>
	</table>
		<div class="row justify-content-start">
			<div class="form-group col-sm-5">
				<button type="submit" class="btn btn-primary">Enrol</button>
			</div>
		</div>
	 <br/>
	<div th:replace="admin/fragments/general.html :: footer"></div>
</body>
</html>
