<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Course Form</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" 
	  th:href="@{/style.css}" />
</head>

<body style="margin-left: 20px; margin-top:20px">
	<header th:insert="admin/fragments/general.html :: header"> </header>
	<div th:replace="admin/fragments/general.html :: menu"></div>
	<div class="row">
    <div class="col-sm-10">
	<h1 class="mb-4">Course Form</h1>
		<form class="form-card" action="" th:object="${course}" th:action="@{/admin/course/save}" method="get">
			<input type="hidden" class="form-control" th:field="*{id}" />
			<div class="row justify-content-start text-left">
				<div class="form-group col-sm-5">						              
					<label>
						Code<span class="text-danger"> *</span>
					</label>
					<input type="text" class="form-control" th:field="*{code}"> 
					<p class="text-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></p>	
				</div>
				<div class="form-group col-sm-5">        							
					<label>
						Name<span class="text-danger"> *</span>
					</label>
						<input type="text" class="form-control" th:field="*{name}">
						<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
				</div>
			</div>
			<div class="row justify-content-start text-left">
				<div class="form-group col-sm-5">	
					<label>
						Size <span class="text-danger"> *</span>
					</label>
					<input type="number" class="form-control" th:field="*{size}">
					<p class="text-danger" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></p>
				</div>				
				<div class="form-group col-sm-5">
					<label>
						Credit <span class="text-danger"> *</span>
					</label>
					<input type="number" class="form-control" th:field="*{credit}">
					<p class="text-danger" th:if="${#fields.hasErrors('credit')}" th:errors="*{credit}"></p>
				</div>
			</div>
			<div class="row justify-content-start text-left">
				<div class="form-group col-sm-5">
					<label>
					StartDate </label>
					<input type="date" class="form-control" th:field="*{startDate}">
					<p class="text-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
				</div>
				<div class="form-group col-sm-5">
					<label>
					Lecturer </label>
					<select class="form-control" th:field="*{lecturer.userName}">
						<option th:each="lecturer:${lecturers}"
						th:value="${lecturer.userName}"
						th:text="${lecturer}">lecturer</option>
					</select>
				</div>
			</div>
			<div class="row justify-content-start">
				<div class="form-group col-sm-5">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
				<div class="form-group col-sm-5">
					<button type="reset" class="btn btn-outline-danger">Reset</button>
				</div>
			</div>
		</form>
	</div>
	</div>
	<div th:replace="admin/fragments/general.html :: footer"></div>
</body>

</html>