<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Student Form</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" 
	  th:href="@{/style.css}" />
</head>
<body>
	<header th:insert="admin/fragments/general.html :: header"> </header>
	<div th:replace="admin/fragments/general.html :: menu"></div>

	<h1>Admin Student Form</h1>
	<form action="#" th:object="${student}" th:action="@{/AdminStudent/save}" method="get">
	
	<fieldset> <input type="hidden" th:field="*{id}"> </fieldset>
	<fieldset> Last Name	:<input type="text" th:field="*{lastName}"> </fieldset>
	<fieldset> First Name	:<input type="text" th:field="*{firstName}"> </fieldset>
	<fieldset> Username		:<input type="text" th:field="*{userName}"> </fieldset>
	<fieldset> Password		:<input type="password" th:field="*{password}"> </fieldset>
	<fieldset> Enrollment Date		:<input type="date" th:field="*{enrollmentDate}"> </fieldset>
	<br>
	<br>
	<fieldset> <button type="submit" class="btn btn-primary">Save</button><button type="reset" style="margin-left:20px;" class="btn btn-outline-danger">Reset</button></fieldset>
	
	</form>

	 <br/>
	<div th:replace="admin/fragments/general.html :: footer"></div>
</body>
</html>