<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Management</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css"
	 th:href="@{/style.css}" />
</head>
<body style="margin-left: 20px; margin-top:20px">
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Manage Students</h1>
	<!-- Add Hyperlink -->
	<a class="btn btn-primary" href="studentForm.html" th:href="@{/AdminStudent/add}">Add Student</a>

	<h2 style="margin-top:15px;margin-bottom:15px;" th:if="${not #lists.isEmpty(students)}">Student List</h2>
	<table th:if="${not #lists.isEmpty(students)}">
		<tr>
			<th>Student Id</th>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Username</th>
			<th>Enrollment Date</th>
			<th>Edit Student</th>
			<th>Delete Student</th>
		</tr>
		<tr th:each="student:${students}">
			<td th:text=${student.Id}>Student Id</td>
			<td th:text=${student.lastName}>Last Name</td>
			<td th:text=${student.firstName}>First Name</td>
			<td th:text=${student.userName}>Username</td>
			<td th:text=${student.enrollmentDate}>Enrollment Date</td>
			<td><a class="btn btn-secondary" 
				th:href="@{/AdminStudent/edit/}+${student.Id}">Edit</a></td>
			<td><a class="btn btn-outline-danger" 
				th:href="@{/AdminStudent/delete/}+${student.Id}">Delete</a></td>
		</tr>
	</table>

	 <br/>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>
