<head>
<meta charset="ISO-8859-1">

<title>Student Grades</title>

</head>


<body>
	
	
<!-- Add Hyperlink -->
		
	
	<h1>Courses</h1>
	
	<table th:if="${not #lists.isEmpty(courses)}" >
		<tr >			
			<th>Course Id</th>
			<th>Course Name</th>
			<th>Credits</th>
			<th>Enroll</th>	
		</tr>
		
		<tr th:each="course:${courses}">
		
			<td th:text=${course.id}>id</td>
			<td th:text=${course.name}>Course Name</td>
			<td th:text=${course.credit}>Credit</td>			
			<td>
			<a th:href="@{/student/enroll-course/}+${course.id}">Enroll</a></td>
			
		</tr>
		
		
	</table>
	
</body>
</html>