<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Class</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body>
<div th:insert="~{lecturer/lecturer-index.html :: copyh}"></div>
<div>
<br/>
<h2 th:if="${not #lists.isEmpty(students)}" th:text="'Course: ' + ${course.name}">Class List</h2>

<div class="btn-group" role="group" aria-label="Basic example" th:each="course : ${lecturerCourses}">
  <a class="btn btn-secondary" href="#" th:href="@{'/lecturer/enrolment/' + ${lecturer.id} + '/' + ${course.id}}" role="button" th:text=${course.name}>Courses</a>
</div>
<div>
<table th:if="${not #lists.isEmpty(students)}" class="table table-striped">
  <thead>
    <tr>
      <th  scope="col">Student Id</th>
      <th  scope="col">Name</th>
      <th  scope="col">Enrollment Date</th>
      <th  scope="col">Grade</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="student, iStat : ${students}">
      <td  th:text=${student.id}>Id</td>
      <td  th:text="${student.firstName + ' ' + student.lastName}">Name</td>
	  <td  th:text=${student.enrollmentDate}>Enrollment Date</td>
	  <td  th:text="(${grades[iStat.index]}!= null)? ${grades[iStat.index]} : ''">Grades</td>
	  <td><a class="btn btn-secondary" href="#" th:href="@{'/lecturer/student/' + ${lecturer.id} + '/' + ${student.id}}" role="button" th:text="${grades[iStat.index]}!=null? 'Edit Grade' : 'Add Grade'">Add Grade</a></td>
	</tr>
  </tbody>
</table>
</div>
</div>
<br/>
<footer th:fragment="footer">
		<a class="btn btn-success"  style="width:250px !important; margin-bottom:20px;" href="Home" th:href="@{'/lecturer/' + ${session.lsession.id}}">Back to Home</a>
		<br/>
		 <small>Now is: <b
			th:text="${execInfo.now.time}"></b></small> <br /> <small>(c)Course Application Processing System , ISS, NUS 2021</small>
</footer>
</body>
</html>