<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lecturer's Teaching Courses</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body style="margin-left: 20px; margin-top:20px">
<div th:insert="~{lecturer/lecturer-index.html :: copyh}"></div>
<div>
<br/>
<h2 th:if="${not #lists.isEmpty(courses)}">Course List</h2>
<table th:if="${not #lists.isEmpty(courses)}" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col">Credit</th>
      <th scope="col">Start Date</th>
      <th scope="col">Current Enrollment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="course : ${courses}">
      <td th:text=${course.code}>id</td>
      <td th:text=${course.name}>name</td>
	  <td th:text=${course.size}>size</td>
	  <td th:text=${course.credit}>credit</td>
	  <td th:text=${course.startDate}></td>
	  <td th:text=${course.enrolments.size}>Current Enrollment</td>
	  <td><a class="btn btn-secondary" href="#" th:href="@{'/lecturer/enrolment/' + ${course.id}}" role="button">View Enrolment</a></td>
    </tr>
  </tbody>
</table>
</div>
<nav aria-label="Page navigation" th:if="${lectPage.totalPages > 0}">
	<ul class="pagination">
		<li th:class="${lectPage.hasPrevious} ? 'page-item' : 'page-item disabled'">
			<a class="page-link" th:href="@{/lecturer/courses(page=${lectPage.number})}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			</a>
		</li>
		<li th:class="${pageNumber==lectPage.number + 1} ? 'page-item active' : 'page-item'" 
			th:each="pageNumber : ${#numbers.sequence(1,lectPage.totalPages)}">
			<a class="page-link" th:href="@{/lecturer/courses(page=${pageNumber})}" 
				th:text="${pageNumber}">pageNumber</a></li>			
		<li th:class="${lectPage.hasNext} ? 'page-item' : 'page-item disabled'">
			<a class="page-link" th:href="@{/lecturer/courses(page=${lectPage.number+2})}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
			</a>
		</li>
	</ul>
</nav>
<br/>
<footer th:fragment="footer">
		 <small>Now is: <b
			th:text="${#execInfo.now.time}"></b></small> <br /> <small>&copy; Course Application Processing System , ISS, NUS 2021</small>
</footer>
</body>
</html>